@CHARSET "UTF-8";

html, body {
	height: 100%;
}

body{
	margin-bottom: 1%;
	/* background-color: #E7E0D2; */
}

.container-fluid{
	height: 100%;
}

#sidebarDashboardRow, #signinLoginRow{
	height: 100%; 
}

.col-md-12{
	background-color: #ffffff;
	border: 1px solid black;
	height: 50px;
}

.col-sm-2{
	background-color: #ffffff;
	border: 1px solid black;
	height: 100%;
}

.col-sm-10{
	background-color: #ffffff;
	border: 1px solid black;
	height: 100%;
}

#signinLoginRow{
	
}

#loginSplit{
	height: 100%;
	width: 48.5%;
	border-radius: 10px;
	background-color: #BBAE93;
	box-shadow: 5px 10px 15px #888888;
	border: 1px solid black;
}
#signUpSplit{
	height: 100%;
	width: 48.5%;
	border-radius: 10px;
	background-color: #BBAE93;
	box-shadow: 5px 10px 15px #888888;
	border: 1px solid black;
	margin-left: 3%;
}

#loginSignup{
	float: right;
	/* margin-top: 12px; */
	color: black;
}

#loginSignup:hover{
	font-weight: bold;
	text-decoration: none; 
}
